.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  background-image: url("../img/bg-watercolor-about-programm-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center 160px;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-about-programm-desktop@2x.png");
  }
}

.about__text {
  padding: 0 calc((100% - 720px) / 2);
  padding-bottom: 49px;
  text-align: center;
}

.about__text h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 24px;
}

.about__text p {
  width: 720px;
  margin: 0;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 29.9px;
  font-weight: 400;
  text-align: center;
}

.about__video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96px;
  height: 96px;
  margin-top: -52px;
  margin-left: -48px;
  background-color: transparent;
  background-image: url("../img/play-button@1x.png");
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/play-button@2x.png");
  }

  &:hover {
    background-image: url("../img/play-button-hover@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/play-button-hover@2x.png");
    }
  }

  &:active {
    background-image: url("../img/play-button-click@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/play-button-click@2x.png");
    }
  }
}

@media (min-width: $desktop-width-1370) {
  .about__container {
    padding-top: 50px;
  }
}

@media (max-width: $desktop-width-1364) {
  .about {
    background-size: contain;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-bottom: 40px;
    background-image: url("../img/bg-watercolor-about-programm-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 223px;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-watercolor-about-programm-mobile@2x.png");
    }
  }

  .about__container {
    padding: 0;
  }

  .about__text {
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 29px;
  }

  .about__text h2 {
    @include title-mobile;
  }

  .about__text p {
    width: 100%;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
  }

  .about__button {
    width: 80px;
    height: 80px;
    margin-top: -35px;
    margin-left: -40px;
  }
}
