.advantages {
  margin-top: -150px;
  padding-bottom: 155px;
  background-image: url("../img/bg-watercolor-life-desktop@1x.png"), url("../img/compass-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -44px, right 618px;
  background-size: contain, 90px 148px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-life-desktop@2x.png"), url("../img/compass-desktop@2x.png");
  }
}

.advantages__wrapper {
  max-width: 1152px;
  margin: 0 auto;
  padding-left: 97px;
  padding-right: 104px;
}

.advantages__text {
  text-align: center;
}

.advantages__text h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 25px;
}

.advantages__text p {
  margin: 0;
  margin-bottom: 47px;
  padding-left: 214px;
  padding-right: 219px;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
  opacity: 0.87;
}

@media (max-width: $desktop-width-1365) {
  .advantages {
    background-position: 0 -35px, right 530px;
  }

  .advantages__wrapper {
    max-width: 968px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .advantages__text p {
    padding: 0 125px;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    background-position: 0 -35px, right 390px;
    background-size: cover, 50px 90px;
  }

  .advantages__wrapper {
    max-width: 640px;
  }

  .advantages__text p {
    padding: 0;
    font-size: 15px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    margin-top: 0;
    background: none;
    padding-bottom: 60px;
  }

  .advantages__text {
    left: 0;
    right: 0;
  }
}
