@media (max-width: $mobile-width) {
  .buttons-slider {
    display: flex;
    justify-content: center;
    height: 10px;
  }

  .buttons-slider__item {
    width: 6px;
    height: 6px;
    margin: 0 4px;
    padding: 0;
    background-color: $color-black;
    opacity: 0.2;
    border: none;
    border-radius: 50%;
  }

  .buttons-slider__item--active {
    background: $ln-gd-yellow;
    transform: scale(1.4);
    opacity: 1;
  }
}
