.callback {
  position: relative;
  padding-top: 219px;
  padding-bottom: 148px;
  padding-left: 208px;
  padding-right: 0;
  background-image: url("../img/bg-backpack-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 147px;
  background-position: 0 143px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-backpack-desktop@2x.png");
  }
}

.callback__wrapper  {
  position: relative;
  display: flex;
  max-width: 1154px;
  margin: 0 auto;
}

.callback__wrapper h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 24px;
}

.callback__wrapper p {
  width: 400px;
  margin: 0;
  margin-bottom: 64px;
  color: $color-black;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
}

.callback__img {
  position: absolute;
  right: 0;
  bottom: -136px;
  z-index: -1;
  width: 100%;
  text-align: right;
}

@media (max-width: $desktop-width-1280) {
  .callback__img {
    width: 80%;
  }
}

@media (max-width: $mobile-width) {
  .callback {
    padding: 0;
    padding-top: 65px;
    background-image: url("../img/bg-backpack-mobile@1x.png");
    background-size: 103px;
    background-position: 0 17px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-backpack-mobile@2x.png");
    }
  }

  .callback__wrapper h2 {
    @include title-mobile;
    text-align: center;
  }

  .callback__wrapper p {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 26px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 25.6px;
  }

  .callback__wrapper img {
    position: static;
  }
}
