.callback {
  position: relative;
  padding: 0 210px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -60px;
    width: 147px;
    height: 262px;
    background-image: url("../img/bg-backpack-desktop@1x.png");
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-backpack-desktop@2x.png");
    }
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    right: 0;
    top: -240px;
    width: 818px;
    height: 594px;
    background-image: url("../img/bg-girl-flag-desktop@1x.png");
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-girl-flag-desktop@2x.png");
    }
  }
}

.callback__wrapper h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 24px;
}

.callback__wrapper p {
  width: 400px;
  margin: 0;
  margin-bottom: 64px;
  color: $color-black;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
}
