.contacts {
  padding-top: 106px;
  padding-bottom: 75px;
  background-image: url("../img/bg-watercolor-details-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 14px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-details-desktop@2x.png");
  }
}

.contacts__wrapper {
  padding-left: 110px;
}

.contacts h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 48px;
}

.contacts__top {
  display: flex;
  margin-bottom: 64px;
}

.contacts__info {
  width: 40%;
}

.contacts__info p {
  margin: 0;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
  color: $color-black;
  opacity: 0.87;
}

.contacts .social-list {
  margin-left: -13px;
}

.contacts__map {
  align-self: flex-end;
  width: 60%;
  margin-top: -92px;
  text-align: right;
}

.contacts__desc b {
  display: block;
  margin-bottom: 12px;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 500;
  color: $color-black;
  opacity: 0.87;
}

.contacts__desc p {
  margin: 0;
  font-family: $font-firasans;
  font-size: 13px;
  line-height: 19.5px;
  color: $color-black;
  opacity: 0.5;
}

.contacts__bottom {
  display: flex;
  padding-right: calc(100% - 1152px);
}

.contacts__desc {
  width: 338px;
}

.contacts__callback {
  width: 773px;
  margin-left: auto;
  margin-top: -4px;
}

.contacts__form {
  padding-right: calc(100% - 764px);
}

@media (max-width: $desktop-width-1280) {
  .contacts__bottom {
    flex-direction: column;
  }

  .contacts__desc {
    width: 100%;
    margin-bottom: 24px;
  }

  .contacts__callback {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .contacts__wrapper {
    padding-left: 68px;
  }

  .contacts__info {
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    padding-top: 78px;
    padding-bottom: 64px;
    background-image: none;
  }

  .contacts__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .form__wrapper--display input {
    width: 100%;
  }

  .contacts h2 {
    @include title-mobile;
    margin-bottom: 24px;
    text-align: center;
  }

  .contacts__top {
    flex-direction: column;
    margin-bottom: 18px;
  }

  .contacts__info {
    width: 100%;
  }

  .contacts__info p {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 25.6px;
  }

  .contacts__map {
    width: 100vw;
    margin-top: 0;
    text-align: center;
    margin-right: -16px;
  }

  .contacts__desc {
    margin-bottom: 39px;
  }

  .contacts__desc b {
    margin-bottom: 11px;
  }

  .form__wrapper--display button {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
