.feedbacks {
  background-image: url("../img/bg-watercolor-comment-desktop@1x.png"), url("../img/bg-sketch-comment-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain, 523px 318px;
  background-position: center right, right 55px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-comment-desktop@2x.png"), url("../img/bg-sketch-comment-desktop@2x.png");
  }
}

.feedbacks h2 {
  @include title-desktop;
  margin: 0;
  padding-bottom: 9px;
  text-align: center;
}

.feedbacks__wrapper {
  overflow: hidden;
  position: relative;
  max-width: 1122px;
  margin-left: 98px;
}

.feedbacks__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedbacks__item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.feedbacks__text {
  position: relative;
  width: 60%;
  margin-left: 40px;
  padding-top: 40px;
}

.feedbacks__text h3 {
  margin: 0;
  margin-bottom: 8px;
  font-family: $font-firasans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__program {
  display: flex;
  margin: 0;
  margin-bottom: 32px;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
}

.feedbacks__program dt {
  margin: 0;
  margin-right: 8px;
  color: $color-blue;
}

.feedbacks__program dd {
  margin: 0;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__text p {
  margin: 0;
  margin-bottom: 21px;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__link {
  display: block;
  width: 150px;
  margin-bottom: 58px;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 21px;
  color: $color-blue;

  &:hover {
    opacity: 0.74;
  }

  &:active {
    opacity: 1;
  }
}

.feedbacks .social-list {
  justify-content: flex-end;
  margin-right: -15px;
}

.feedbacks__controls {
  position: absolute;
  left: 404px;
  bottom: 4px;
  display: flex;
  align-items: flex-end;
}

@media (max-width: $desktop-width-1280) {
  .feedbacks__text {
    width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .feedbacks__wrapper {
    max-width: 832px;
    padding-right: 0;
  }
}

@media (max-width: $tablet-width-960) {
  .feedbacks__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .feedbacks__avatar {
    width: 270px;
  }

  .feedbacks__controls {
    left: 308px;
  }
}

@media (max-width: $tablet-width-800) {
  .feedbacks__wrapper {
    margin-left: 65px;
  }
}

@media (max-width: $mobile-width) {
  .feedbacks {
    position: relative;
    background-image: url("../img/bg-watercolor-comment-mobile@1x.png"), url("../img/bg-sketch-comment-mobile@1x.png");
    background-size: contain, 288px 261px;
    background-position: 0 788px, right 578px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-watercolor-comment-mobile@2x.png"), url("../img/bg-sketch-comment-mobile@2x.png");
    }
  }

  .feedbacks h2 {
    @include title-mobile;
    margin-bottom: 14px;
  }

  .feedbacks__wrapper {
    position: static;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .feedbacks__item {
    flex-direction: column;
    text-align: center;
  }

  .feedbacks__avatar {
    width: 100%;
}

  .feedbacks__item img {
    width: 240px;
    margin-bottom: 5px;
  }

  .feedbacks__text {
    width: 100%;
    padding-top: 49px;
    margin-left: 0;
    text-align: left;
  }

  .feedbacks__program {
    flex-direction: column;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 22.4px;
  }

  .feedbacks__text p {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 25.6px;
  }

  .feedbacks__link {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 24px;
  }

  .feedbacks .social-list {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: -5px;
  }

  .feedbacks__controls {
    top: 393px;
    bottom: auto;
    left: 50%;
    width: auto;
    margin-left: -38px;
  }
}
