.feedbacks {
  background-image: url("../img/bg-watercolor-comment-desktop@1x.png"), url("../img/bg-sketch-comment-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain, 523px 318px;
  background-position: center right, right 64px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-comment-desktop@2x.png"), url("../img/bg-sketch-comment-desktop@2x.png");
  }
}

.feedbacks h2 {
  @include title-desktop;
  margin: 0;
  text-align: center;
}

.feedbacks__wrapper {
  padding-left: 98px;
  padding-right: 146px;
}

.feedbacks__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedbacks__item {
  display: flex;
}

.feedbacks__text {
  width: 60%;
  margin-left: 40px;
  padding-top: 60px;
}

.feedbacks__text h3 {
  margin: 0;
  margin-bottom: 8px;
  font-family: $font-firasans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__program {
  display: flex;
  margin: 0;
  margin-bottom: 32px;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
}

.feedbacks__program dt {
  margin: 0;
  margin-right: 8px;
  color: $color-blue;
}

.feedbacks__program dd {
  margin: 0;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__text p {
  margin: 0;
  margin-bottom: 16px;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__link {
  display: block;
  margin-bottom: 38px;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
  color: $color-blue;

  &:hover {
    opacity: 0.74;
  }

  &:active {
    opacity: 1;
  }
}
