.feedbacks {
  background-image: url("../img/bg-watercolor-comment-desktop@1x.png"), url("../img/bg-sketch-comment-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain, 523px 318px;
  background-position: center right, right 64px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-comment-desktop@2x.png"), url("../img/bg-sketch-comment-desktop@2x.png");
  }
}

.feedbacks h2 {
  @include title-desktop;
  margin: 0;
  text-align: center;
}

.feedbacks__wrapper {
  padding-left: 98px;
  padding-right: 146px;
}

.feedbacks__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedbacks__item {
  display: none;
}

.feedbacks__item--active {
  display: flex;
}

.feedbacks__text {
  position: relative;
  width: 60%;
  margin-left: 40px;
  padding-top: 60px;
}

.feedbacks__text h3 {
  margin: 0;
  margin-bottom: 8px;
  font-family: $font-firasans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__program {
  display: flex;
  margin: 0;
  margin-bottom: 32px;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
}

.feedbacks__program dt {
  margin: 0;
  margin-right: 8px;
  color: $color-blue;
}

.feedbacks__program dd {
  margin: 0;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__text p {
  margin: 0;
  margin-bottom: 16px;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 28.9px;
  color: $color-black;
  opacity: 0.74;
}

.feedbacks__link {
  display: block;
  margin-bottom: 38px;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
  color: $color-blue;

  &:hover {
    opacity: 0.74;
  }

  &:active {
    opacity: 1;
  }
}

.feedbacks__social-list {
  justify-content: flex-end;
}

.feedbacks__controls {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

@media (max-width: $tablet-width) {
  .feedbacks__wrapper {
    padding-right: 98px;
  }
}

@media (max-width: $tablet-width-960) {
  .feedbacks__wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: $mobile-width) {
  .feedbacks {
    background-image: url("../img/bg-watercolor-comment-mobile@1x.png"), url("../img/bg-sketch-comment-mobile@1x.png");
    background-size: contain, 288px 261px;
    background-position: 0 788px, right 578px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-watercolor-comment-mobile@2x.png"), url("../img/bg-sketch-comment-mobile@2x.png");
    }
  }

  .feedbacks h2 {
    @include title-mobile;
    margin-bottom: 24px;
  }

  .feedbacks__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .feedbacks__item {
    flex-direction: column;
    text-align: center;
  }

  .feedbacks__text {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }

  .feedbacks__program {
    flex-direction: column;
    font-size: 14px;
    line-height: 22.4px;
  }

  .feedbacks__text p {
    font-size: 16px;
    line-height: 25.6px;
  }

  .feedbacks__link {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 24px;
  }

  .feedbacks__social-list {
    justify-content: flex-start;
  }

  .feedbacks__controls {
    top: 0;
    bottom: auto;
    width: 100%;
    justify-content: center;
  }
}
