.form__wrapper {
  position: relative;
  width: 477px;
}

.form__wrapper--display {
  display: flex;
  width: 100%;
}

.form__wrapper input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 19px;
  padding-right: 20px;
  padding-left: 38px;
  padding-bottom: 16px;
  color: $color-black;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 20.4px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #e3e3e3;
  border-radius: 80px;

  &:focus:required {
    outline: 0;
    border: 2px solid $color-yellow;
  }

  &:focus:required:valid {
    border: 2px solid $color-black;
  }
}

.form__wrapper--display input {
  width: 250px;
  margin-right: 24px;
}

.form__button {
  position: absolute;
  top: 0;
  right: 0;
}

.form__wrapper--popup {
  width: 100%;
  text-align: center;
}

.form__wrapper--popup input {
  margin-bottom: 8px;
}

.form__wrapper--popup button {
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 20px 60px;
}

.form__checkbox {
  position: relative;
  padding-left: 64px;
  padding-right: 47px;
}

.form__checkbox input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox span {
  font-family: $font-firasans;
  font-size: 13px;
  line-height: 19.5px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 46px;
    width: 14px;
    height: 14px;
    border: 2px solid $color-yellow;
    border-radius: 2px;
  }
}

.form__checkbox input:checked + span {
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 46px;
    width: 22px;
    height: 8px;
    border-bottom: 3px solid $color-yellow;
    border-left: 3px solid $color-yellow;
    transform: rotate(-50deg);
  }
}

.form__checkbox--error span {
  &::before {
    border-color: red;
  }
}

.form__wrapper .error {
  border: 2px solid red;
}

@media (max-width: $tablet-width-960) {
  .form__wrapper--display input {
    width: 198px;
    margin-right: 20px;
  }
}


@media (max-width: $mobile-width) {
  .form__wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    text-align: center;
  }

  .form__wrapper--display {
    flex-direction: column;
    padding: 0;
  }

  .form__wrapper input {
    margin-bottom: 8px;
    margin-right: 0;
  }

  .form__wrapper button {
    position: static;
    margin: 0;
    padding-right: 66px;
    padding-left: 66px;
  }

  .form__wrapper--popup button {
    width: 100%;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .form__checkbox {
    width: 264px;
    margin: 0 auto;
    padding: 0;
  }

  .form__checkbox span {
    &::before {
      left: -12px;
    }
  }

  .form__checkbox input:checked + span {
    &::after {
      left: -12px;
    }
  }
}
