.go {
  position: relative;
  padding-top: 143px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url("../img/bg-watercolor-how-to-go-desktop@1x.png"), url("../img/stamp-desktop@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 -57px, right 354px;
  background-size: 100%, 216px 254px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-watercolor-how-to-go-desktop@2x.png"), url("../img/stamp-desktop@2x.png");
  }
}

.go__wrapper {
  max-width: 1223px;
  margin-left: 0;
  display: flex;
  padding-left: 12px;
  padding-right: 35px;
}

.go__wrapper picture {
  width: 50%;
  text-align: left;
}

.go__text {
  width: 45%;
  margin: 0;
  margin-left: 90px;
  text-align: left;
}

.go__text h2 {
  @include title-desktop;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 24px;
}

.go__text p {
  margin: 0;
  margin-bottom: 33px;
  padding-right: 50px;
  color: $color-black;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 26.5px;
  opacity: 0.87;
}

.go__request p {
  margin-bottom: 25px;
  padding-right: 75px;
  font-size: 17px;
  font-weight: 500;
  line-height: 28.9px;
  opacity: 1;
}

.go__note {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    width: 4px;
    height: 100%;
    background: $ln-gd-yellow;
  }
}

.go__note p {
  padding-left: 17px;
  padding-right: 0;
  line-height: 21px;
  opacity: 0.5;
}

@media (min-width: $desktop-width-1370) {
  .go__wrapper {
    margin: 0 auto;
  }
}

@media (max-width: $tablet-width) {
  .go {
    background-image: none, url("../img/stamp-mobile@1x.png");
    background-position: 0 110px, right 400px;
    background-size: cover, 216px 199px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none, url("../img/stamp-mobile@2x.png");
    }
  }

  .go__wrapper {
    padding-left: 112px;
    padding-right: 112px;
  }

  .go__wrapper picture {
    display: none;
  }

  .go__text {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: $tablet-width-960) {
  .go__wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: $mobile-width) {
  .go {
    padding-top: 38px;
    padding-bottom: 54px;
    background-position: right 353px;
  }

  .go__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .go__text h2 {
    @include title-mobile;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 24px;
    text-align: center;
  }

  .go__text p {
    margin-bottom: 25px;
    padding-right: 0;
    font-size: 14px;
    line-height: 22.4px;
  }

  .go__request p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25.6px;
  }

  .go__note {
    &::before {
      left: -6px;
    }
  }

  .go__note p {
    padding-left: 8px;
  }
}
