.hashtag {
  display: flex;
  justify-content: flex-end;
  padding-top: 123px;
  padding-bottom: 196px;
  background-color: #eee2d3;
  background-image: url("../img/people1-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/people1-desktop@2x.jpg");
  }
}

.hashtag__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1012px;
  margin: 0 auto;
}

.hashtag__content h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 24px;
}

.hashtag__content p {
  width: 390px;
  margin: 0;
  margin-bottom: 48px;
  color: $color-white;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.87;
}

.hashtag__button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 22px;
  padding-right: 27px;
  padding-bottom: 18px;
  padding-left: 69px;
  color: $color-white;
  font-family: $font-firasans;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 80px;
  background: $ln-gd-yellow;
  cursor: pointer;

  &:hover {
    background: $ln-gd-yellow-hover;
  }

  &:active {
    background: $ln-gd-yellow-click;
  }
}

.hashtag__icon {
  position: absolute;
  top: 18px;
  left: 37px;
  fill: $color-white;
}

.hashtag__img img {
  z-index: -1;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}

@media (max-width: $tablet-width) {
  .hashtag {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width: $mobile-width) {
  .hashtag {
    position: relative;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 20px;
    background-image: url("../img/people1-mobile@1x.jpg");
    background-size: cover;
    background-position: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/people1-mobile@2x.jpg");
    }
  }

  .hashtag__container {
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }

  .hashtag__content {
    max-width: 374px;
    margin: 0 16px;
    text-align: center;
  }

  .hashtag__content h2 {
    @include title-mobile;
    margin-bottom: 150px;
    font-size: 40px;
    line-height: 49px;
  }

  .hashtag__content p {
    width: 100%;
    margin-bottom: 48px;
    padding-left: 14px;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
  }

  .hashtag__button {
    padding-left: 87px;
    padding-right: 44px;
  }

  .hashtag__icon {
    left: 56px;
  }
}

@media (max-width: $mobile-width-500) {
  .hashtag__content h2 {
    margin-bottom: 96px;
  }
}

@media (max-width: $mobile-width-400) {
  .hashtag__container {
    margin-bottom: 0;
    padding-bottom: 0;
    background-position-y: 44px;
  }

  .hashtag__content h2 {
    margin-bottom: 96px;
  }

  .hashtag__content p {
    width: 272px;
    margin-bottom: 60px;
  }
}

@media (max-width: $mobile-width-320) {
  .hashtag {
    min-height: 272px;
    margin-bottom: 96px;
    padding-bottom: 0;
    background-size: contain;
    background-position: 0 0;
  }

  .hashtag__content {
    padding-top: 103px;
    margin-left: -2px;
  }

  .hashtag__content h2 {
    position: absolute;
    top: -43px;
    left: 10px;
  }

  .hashtag__content p {
    margin-bottom: 0;
  }

  .hashtag__button {
    position: absolute;
    bottom: -76px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
