.hashtag {
  display: flex;
  justify-content: flex-end;
}

.hashtag__container  {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding-top: 123px;
  padding-bottom: 196px;
  padding-right: calc(100% - (100% - 178px));
  background-color: #EEE2D3;
  background-image: url("../img/people1-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/people1-desktop@2x.jpg");
  }
}

.hashtag__content {
  max-width: 1008px;
}

.hashtag__content h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 24px;
}

.hashtag__content p {
  width: 390px;
  margin: 0;
  margin-bottom: 48px;
  color: $color-white;
  font-family: $font-firasans;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.87;
}

.hashtag__button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 22px;
  padding-right: 27px;
  padding-bottom: 18px;
  padding-left: 69px;
  color: $color-white;
  font-family: $font-firasans;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 80px;
  background: $ln-gd-yellow;
  cursor: pointer;

  &:hover {
    background: $ln-gd-yellow-hover;
  }

  &:active {
    background: $ln-gd-yellow-click;
  }
}

.hashtag__icon {
  position: absolute;
  top: 18px;
  left: 37px;
  fill: $color-white;
}

@media (max-width: $tablet-width) {
  .hashtag__container {
    padding-right: calc(100% - (100% - 96px));
  }
}

@media (max-width: $mobile-width) {
  .hashtag {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .hashtag__content {
    max-width: 100%;
    margin: 0 16px;
    background-image: url("../img/people1-mobile@1x.jpg");
    background-size: 100%;
    background-position: 0 40px;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/people1-mobile@2x.jpg");
    }
  }

  .hashtag__content h2 {
    @include title-mobile;
    margin-bottom: 96px;
    font-size: 40px;
    line-height: 49px;
  }

  .hashtag__content p {
    width: 100%;
    margin-bottom: 86px;
    padding-left: 14px;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
  }

  .hashtag__button {
    padding-left: 87px;
    padding-right: 44px;
  }

  .hashtag__icon {
    left: 56px;
  }
}
