.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 458px;
}

.header__phone,
.header__call-back {
  border-bottom: 1px solid transparent;
  color: $color-black;
  text-decoration: none;
  font-family: $font-firasans;
  font-size: 15px;
  font-weight: 500;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__call-back {
  border-bottom: 1px dashed $color-black;
}
