.head {
  min-height: 906px;
  text-align: center;
  background-image: url("../img/bg-head-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-head-desktop@2x.png");
  }
}

@media (max-width: $mobile-width) {
  .head {
    background-image: url("../img/bg-head-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-head-mobile@2x.png");
    }
  }
}
