.head {
  text-align: center;
  background-image: url("../img/bg-head-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-head-desktop@2x.png");
  }
}

@media (max-width: $mobile-width) {
  .head {
    min-height: 605px;
    background-image: url("../img/bg-head-mobile@1x.png");
    background-size: cover;
    background-position-y: 30px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-head-mobile@2x.png");
    }
  }
}
