.programs {
  position: relative;
  padding-top: 107px;
  padding-left: 211px;
  padding-right: 312px;
  background-image: url("../img/bg-sketch-programs-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right 58px;
  background-size: 680px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-sketch-programs-desktop@2x.png");
  }
}

.programs h2 {
  @include title-desktop;
  margin: 0;
  margin-bottom: 65px;
}

.programs__tabs {
  display: flex;
}

@media (max-width: $desktop-width-1280) {
  .programs {
    padding-right: 211px;
  }
}


@media (max-width: $desktop-width-1125) {
  .programs {
    padding-left: 112px;
    padding-right: 112px;
  }
}

@media (max-width: $tablet-width-960) {
  .programs {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: $mobile-width) {
  .programs {
    overflow: hidden;
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url("../img/bg-sketch-programs-mobile@1x.png");
    background-position: right 117px;
    background-size: 296px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-sketch-programs-mobile@2x.png");
    }
  }

  .programs__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .programs h2 {
    @include title-mobile;
    margin-bottom: 16px;
    text-align: center;
  }

  .programs__tabs {
    flex-direction: column;
  }
}
