.request__list {
  position: relative;
  counter-reset: section;
  margin: 0;
  padding: 0;
  list-style: none;
}

.request__item {
  position: relative;
  margin-bottom: 48px;
  padding-left: 50px;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.87;

  &::before {
    counter-increment: section;
    content: counter(section);
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -20px;
    padding: 8px 18px;
    background-color: $color-white;
    border-radius: 50%;
    color: $color-yellow;
    font-family: $font-firasans;
    font-size: 17px;
    line-height: 170%;
    font-weight: bold;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    height: 100px;
    border: 1px dashed $color-black;
    opacity: 0.2;
  }

  &:last-child::after {
    border: none;
  }
}

@media (max-width: $mobile-width) {
  .request__item {
    padding-left: 45px;
    font-size: 14px;
    line-height: 22.4px;

    &::before {
      top: -10px;
      left: -10px;
    }

    &::after {
      left: 13px;
    }
  }
}
