.request__list {
  position: relative;
  counter-reset: section;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-right: 64px;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 255px;
    border: 1px dashed $color-black;
    opacity: 0.2;
  }
}

.request__item {
  position: relative;
  margin-bottom: 39px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  min-height: 36px;

  &::before {
    counter-increment: section;
    content: counter(section);
    z-index: 1;
    position: absolute;
    top: 0;
    left: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: $color-white;
    border-radius: 50%;
    color: $color-yellow;
    font-family: $font-firasans;
    font-size: 17px;
    line-height: 170%;
    font-weight: bold;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  }

  &:last-child::after {
    border: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.request__item p {
  padding-right: 0;
  margin-bottom: 0;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  opacity: 0.87;
}

@media (max-width: $mobile-width) {
  .request__list {
    margin-bottom: 26px;
    padding-right: 0;

    &::after {
      left: 10px;
    }
  }

  .request__item {
    margin-bottom: 55px;
    padding-left: 44px;
    font-size: 14px;
    line-height: 22.4px;

    &::before {
      top: 0;
      left: 8px;
    }

    &::after {
      left: 13px;
    }
  }

  .request__item--one {
    &::before {
      top: 0;
      left: -8px;
    }
  }

  .request__item--two {
    margin-bottom: 38px;

    &::before {
      top: 0;
      left: -8px;
    }
  }

  .request__item--three {
    margin-bottom: 30px;

    &::before {
      top: 14px;
      left: -7px;
    }
  }

  .request__item--four {
    margin-bottom: 20px;

    &::before {
      top: 14px;
      left: -7px;
    }
  }

  .request__item p {
    font-size: 14px;
  }
}
