.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__item {
  margin-left: 18px;
}

.social-list__link {
  display: block;
  width: 24px;
  height: 24px;
}

.social-list__link svg {
  &:hover {
    fill: $color-blue;
    fill-opacity: 0.74;
  }

  &:active {
    fill-opacity: 1;
  }
}

.social-list__icon {
  fill-opacity: 0.16;
}

@media (max-width: $mobile-width) {
  .social-list__item {
    margin-left: 0;
    margin-right: 18px;
  }
}
