.tabs__list {
  margin: 0;
  padding: 0;
  padding-right: 93px;
  list-style: none;
}

.tabs__button {
  position: relative;
  width: 198px;
  padding-top: 25px;
  padding-bottom: 31px;
  padding-left: 71px;
  padding-right: 40px;
  background-color: transparent;
  text-align: left;
  border: none;
  color: $color-black;
  font-family: $font-firasans;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 16px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover:not(.tabs__button--active) {
    color: $color-yellow;
  }

  &:focus {
    color: $ln-gd-yellow;
  }
}

.tabs__button--culture {
  &::before {
    top: 20px;
    left: 22px;
    width: 28px;
    height: 33px;
    background-image: url("../img/icon-culture-black@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-culture-black@2x.png");
    }
  }

  &:hover::before {
    background-image: url("../img/icon-culture-yellow@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-culture-yellow@2x.png");
    }
  }
}

.tabs__button--study {
  &::before {
    top: 15px;
    left: 18px;
    width: 36px;
    height: 35px;
    background-image: url("../img/icon-study-black@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-study-black@2x.png");
    }
  }

  &:hover::before {
    background-image: url("../img/icon-study-yellow@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-study-yellow@2x.png");
    }
  }
}

.tabs__button--business {
  &::before {
    top: 24px;
    width: 32px;
    height: 35px;
    background-image: url("../img/icon-business-black@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-business-black@2x.png");
    }
  }

  &:hover::before {
    background-image: url("../img/icon-business-yellow@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-business-yellow@2x.png");
    }
  }
}

.tabs__button--volonteur {
  &::before {
    top: 19px;
    width: 32px;
    height: 29px;
    background-image: url("../img/icon-volonteur-black@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-volonteur-black@2x.png");
    }
  }

  &:hover::before {
    background-image: url("../img/icon-volonteur-yellow@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-volonteur-yellow@2x.png");
    }
  }
}

.tabs__button--religion {
  &::before {
    left: 25px;
    top: 19px;
    width: 23px;
    height: 25px;
    background-image: url("../img/icon-religion-black@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-religion-black@2x.png");
    }
  }

  &:hover::before {
    background-image: url("../img/icon-religion-yellow@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-religion-yellow@2x.png");
    }
  }
}

.tabs__button--culture.tabs__button--active {
  &::before {
    background-image: url("../img/icon-culture-white@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-culture-white@2x.png");
    }
  }
}

.tabs__button--study.tabs__button--active {
  &::before {
    background-image: url("../img/icon-study-white@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-study-white@2x.png");
    }
  }
}

.tabs__button--business.tabs__button--active {
  &::before {
    background-image: url("../img/icon-business-white@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-business-white@2x.png");
    }
  }
}

.tabs__button--volonteur.tabs__button--active {
  &::before {
    background-image: url("../img/icon-volonteur-white@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-volonteur-white@2x.png");
    }
  }
}

.tabs__button--religion.tabs__button--active {
  &::before {
    background-image: url("../img/icon-religion-white@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-religion-white@2x.png");
    }
  }
}

.tabs__button--active {
  width: 198px;
  padding: 25px 0;
  padding-left: 70px;
  padding-right: 22px;
  background: $ln-gd-yellow;
  text-align: left;
  border: none;
  color: $color-white;
  font-family: $font-firasans;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.2px;
  text-transform: uppercase;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    height: 0;
    width: 0;
    border-left: 30px solid $color-light-yellow;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
  }

  &:hover {
    color: $color-white;
  }
}

@media (max-width: $mobile-width) {
  .tabs__list {
    display: flex;
    overflow-x: scroll;
    max-width: 100vw;
    margin-left: -16px;
    margin-right: -16px;
  }

  .tabs__button--active {
    border-radius: 50px;

    &::after {
      display: none;
    }
  }

  .tabs__button:not(.tabs__button--active) {
    opacity: 0.5;
  }
}
