$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-1125: 1125px;
$desktop-width-960: 960px;
$desktop-width-1365: 1365px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-firasans: "FiraSans", sans-serif;
$font-montserrat: "Montserrat", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;

$color-black: #484848;
$color-blue: #1fc0fc;
$color-yellow: #ffc341;
$color-light-yellow: #ffd701;
$ln-gd-yellow: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$ln-gd-yellow-hover: linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
$ln-gd-yellow-click: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
$color-white: #ffffff;
$color-red: #ff0000;
